@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rakkas&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  

body{
    /* background-color: #ACE2E1; */
    font-family: "Open Sans", sans-serif;
}

.navbar{
    
    position: sticky;
}
.header{
    
    background-image: url("./img/Tenemos\ todo\ para\ que\ consientas\ a\ tus\ mascotas\ \(7\).jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;

}

/* cards */
.row{
    padding: 15%;
}

.row .col .card img{
    width: 100%;
    height: 200px;
}
.row .col .card #img{
    width: 100%;
    height: 400px;
}

.col{
    padding: 5%;
}
.card{
    display: flex;
    text-align: center;
    background-color: #41C9E2;
    filter: drop-shadow(
        0 0 15px rgba(0,0,0, .4)
    )
}

/* section info */


.titulo-section-perros{
    background-image: url("./img/bannerPerros.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    
}
.titulo-section-gatos{
    background-image: url("./img/bannerPerros.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    

}

.info{
    width: 100%;
    height: 500px;
    text-align: center;
    justify-content: center;
    padding: 5%;
    
}

.text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    
    align-items: center;
    filter: drop-shadow(
        0 0 15px rgba(0,0,0, .4)
    );
    
}
.info .text #imagen{
    width: 100%;
    height: 80%;
    border-radius: 10%;
}
.text #imagen:hover{
    transform: scale(1.20);
}
.lorem{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.lorem .icons{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.lorem .icons i{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41C9E2;
    filter: drop-shadow(
        0 0 10px rgba(0,0,0, .1)
    );
}

.lorem .icons i:hover{
    background-color: aliceblue;
    transform: scale(1.20);
}

@media screen and (max-width:980px) {
    .info{
        padding: 0;
    }
    .text{
        padding: 5%;
        margin-top: 35%;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .lorem{
        height: 500px;
    }
    .info .text #imagen{
        width: 90%;
        height: 80%;
    }
    .row .col .card #img{
        height: 250px;
    }
    
    .titulo-section-perros{
        background-size: cover;
        height: 200px;
    }
    .titulo-section-gatos{
        background-size: cover;
        height: 200px;
    }
    .bar-perros {
        margin-top: 30%;
    }
}

@media screen and (max-width:700px){
    .titulo-section-perros{
        background-size: contain;
        height: 200px;
    }
    .titulo-section-gatos{
        background-size: contain;
        height: 200px;
    } 
    .text{
        margin-top: 50%;
    }
    .lorem{
        height: 630px;
    }
}